*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.first{
    background: linear-gradient(150deg,rgba(25, 18, 18, 0.89),rgb(17, 47, 52),rgba(69, 69, 134, 0.825));
   text-align: center;
   color: #f5f5f5;
}

.main{
    height: 100vh;
   width: 100%;
    background: linear-gradient(150deg,rgba(25, 18, 18, 0.89),rgb(17, 47, 52),rgba(69, 69, 134, 0.825));
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.container{
    
    border-radius: 30px;
    height: 650px;
    width: 500px;
    background: -webkit-linear-gradient(125deg,rgb(50, 77, 93),rgb(12, 12, 78),rgb(27, 179, 156));
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search button{
    font-size: 33px;
    border-color: #ffffff;
    padding: 8px;
    border-radius: 35px;
    color: rgb(190, 39, 5);
    background:linear-gradient(rgba(162, 94, 120, 0.748),rgb(39, 39, 109),rgb(8, 116, 135));
}
.search input{
    border-color: #ffffff;
width: 350px;
height: 50px;
border-radius: 30px;
margin: 30px;
font-size: 25px;
}
.weather{
    margin-top: 40px;
    text-align: center;
    color: rgba(12, 221, 151, 0.879);
}
.weather img{
    height: 150px;
}
.weather h1{
margin-top: 25px;
font-size: 50px;
}
.weather span{
    font-size: 40px;
}
.details h2{
    margin-top: 8px;
}

